* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;600;800&family=Open+Sans:wght@300;400;600&display=swap');

@import "_vars.scss";

@mixin forms {
    height: 25px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    border: 0.5px $colorTerciario solid;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Jost', sans-serif; 
}

header {
    background-image: url(../images/portada.jpg);
    background-size: 100%;
    background-position: center;
    height: 200px;
    
    #contenedorMenu {
        position: relative;
        top: 150px;
        z-index: 100;
        height: 50px;
        align-items: center;
        justify-content: center;

        ul.listaMenu {
            margin: 0px;
            padding: 0px;
        }
        
        .listaMenu {
            background-color: $colorSecundario;
            color: $colorPrincipal;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            list-style: none;
                   
            .palabraMenu a {
                color: $colorPrincipal;
                text-decoration: none;
                width: 1fr 1fr 1fr 1fr;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: $colorPrincipal;
                    color: $colorSecundario;
                }

                &:focus{
                    background-color: $colorPrincipal;
                    color: $colorSecundario;
                }
            
            }

        }
              
    }

}

#pasos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: $colorSecundario;

    .tituloPaso {
        font-weight: 600;
    }

    .imgPaso {
        height: 150px;
        margin: 10px;
    }

    .textoPaso {
        text-align: center;
        font-size: 18px;
        padding-top: 20px;
        font-style: normal;
    }

    .paso {
        padding: 20px;
        background-color: $colorTerciario;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 275px;
        height: 320px;
    }
}

iframe {
    width: 100%;
    height: 500px;
}

footer {
    background-color: $colorSecundario;
    color: $colorPrincipal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;

    .tituloFooter {
        font-size: 14px;
        font-weight: 600;
    }

    .textoFt {
        font-size: 12px;
        font-weight: 300;
    }

    a {
        color: $colorPrincipal;
        text-decoration: none;
    }

    .imgRS {
        height: 12px;
        display: inline;
    }
}

h1 {
    color: $colorSecundario;
    position: relative;
    width: 380px;
    left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#cuerpoInterno {
      
    div {
        .tituloSeccion {
            color: $colorSecundario;
            margin-top: 20px;
            padding-left: 50px;
        }

        .seccion {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 190px;
            gap: 20px;
            padding: 10px 50px;

            .bloque {
                background-color: $colorTerciario;
                color: $colorSecundario;
                padding: 10px;
                min-width: 400px;
                display: grid;
                grid-template-columns: 170px auto 50px 50px;
                grid-template-rows: 50px 50px 50px;
                gap: 10px;

                .imgMenu {
                    height: 170px;
                    grid-row: 1/3;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 500;
                }
            
                .contadorBloque {
                    grid-column: 3/5;
                    grid-row: 2/4;

                    .textCant {
                        font-style: italic;
                        display: inline;
                        font-size: 12px;
                    }
                    
                    .resultCant {
                        background-color: white;
                        border: $colorSecundario solid;
                        width: 40px;
                        border-radius: 5px;
                        border-width: 1px;
                        text-align: right;
                        padding-right: 5px;
                        margin: 10px 0;
                    }
                    
                    .botonResta {
                        color: $colorPrincipal;
                        font-size: 20px;
                        background-color: $colorSecundario;
                        height: 30px;
                        width: 30px;
                        border-radius: 5px;
                        border: 0;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                    }
                    
                    .botonResta:hover{
                        height: 40px;
                        width: 40px;
                    }
                    
                    .botonSuma:hover{
                        height: 40px;
                        width: 40px;
                    }
                    
                    .botonSuma {
                        color: $colorSecundario;
                        font-size: 20px;
                        background-color:$colorPrincipal;
                        height: 30px;
                        width: 30px;
                        border-radius: 5px;
                        border: 0;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                    }

                }
            }
        
        }
    
    }

}

.boton {
    background-color: $colorSecundario;
    margin: 20px 50px;
    width: 200px;
    height: 40px;
    text-align: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: $colorPrincipal;
    }

    a {
        text-decoration: none;
        color: $colorPrincipal;

        &:hover {
            color: $colorSecundario;
        }
    }
}

/*Pedido */

#pedidoArmado {
    position: relative;
    left: 50px;
    width: 400px;
    color: $colorSecundario;
    padding-left: 10px;

    .precioItem {
        font-weight: 600;
    }
}

#totalPrecioContenedor {
  
    padding-left: 50px;
    width: 350px;
    background-color: $colorSecundario;
    color: $colorPrincipal;
    padding: 5px 10px;
    font-weight: 300;
    text-align: center;
}

#formularioPago {
    
    color: $colorSecundario;

    label {
        display: block;
        position: relative;
        left: 50px;
        width: 300px;
    }

    input {
        position: relative;
        left: 50px;
        @include forms();
    }

}

.aprobado {
    padding-left: 50px;
    padding-right: 50px;

    .imgAprobado {
        padding-bottom: 50px;
        height: 200px;
        align-items: center;

    }

    .textoAprobado {
        text-align: justify;
    }
}

.efectivoPago {
    padding-left: 50px;
    padding-right: 50px;

    .imgEfectivo {
        padding-bottom: 50px;
        height: 200px;
        align-items: center;

    }

    .textoPagoEfectivo {
        text-align: justify;
    }
}

/*Reservas y Contacto*/

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .formPrincipal {
        color: $colorSecundario;
        position: relative;
        left: 10px;
        width: 380px;
    }

    input {
        display: block;
        position: relative;
        width: 200px;
        @include forms();
    }

    .botonSubmit {
        display: block;
        margin: 20px 0px;
        background-color: $colorSecundario;
        color: $colorPrincipal;
        width: 200px;
        height: 40px;
        padding: 5px;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        border: 0;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

        &:hover {
            background-color: $colorPrincipal;
            color: $colorSecundario;
        }
    }
}

/*Nosotros*/

.textoNosotros {
    padding-left: 50px;
    padding-right: 20px;
    max-width: auto;
    min-width: 400px;
    padding-bottom: 20px;
    color: $colorSecundario;
    text-align: justify;
}

@media (max-width: 800px) {
    
    #pasos {
        display: grid;
        grid-template-columns: 1fr;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #cuerpoInterno div .seccion {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    h1 {
        position: relative;
        width: 300px;
        left: 20px;
    }

    div.seccion {
        padding: 10px 20px;
    }

    #cuerpoInterno div .seccion {
        gap: 10px;
        padding: 10px 20px;
    }

    #cuerpoInterno div .seccion .bloque {
        display: grid;
        grid-template-columns: 100px 140px 50px;
        grid-template-rows: 10px 40px 40px;
        height: 150px;
        width: 370px;
        min-width: 350px;

        img.imgMenu {
            height: 100px;
            width: 100px;
        }
    }

    #cuerpoInterno div .tituloSeccion {
        padding-left: 20px;
    }

    div.contadorBloque {
        grid-row: 1/4;
    }

    #pedidoArmado {
        width: 350px;
    }

    
}

